:root {
	--iris: #4D5AE5;
	--ocean: #404BBF;
	--navy-blue: #2E2F42;
	--green: #31D0AA;
	--slate: #434455;
	--light-slate: #8E8F99;
	--cornflower: #E7E9FC;
	--cloud: #F4F4FD;
	--navy-blue-modal: #2E2F42;
	--grey: #2E2F42;
	--white: #FFFFFF;
	--dairy: #FCFCFC;
	
	--main-font-family: "Roboto";
	--secondary-font-family: "Raleway";
	
	
	--column-gap: 24px;
	--row-gap:var(--column-gap);
}


body {
	font-family: var(--main-font-family), sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--slate);
	background-color: var(--white);
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1, h2, h3, .header-h3, p {
	letter-spacing: 0.02em;
}

h1, h2 {
	font-weight: 700;
}

h2, h3, .header-h3 {
	color: var(--navy-blue);
}

h1 {
	font-size: 56px;
	line-height: 1.07;
	color: var(--white);
}

h2 {
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
}

h3, .header-h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

address {
	font-style: normal;
	
}

button {
	font-family: inherit;
	font-weight: 500;
	letter-spacing: 0.04em;
	cursor: pointer;
	background-color: var(--iris);
	color: var(--white);
	padding: 16px 32px;
	border: 0 none;
	border-radius: 4px;
	line-height: 1.5;
}

button:hover {
	--iris: var(--ocean);
	transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

a {
	text-decoration: none;
	letter-spacing: 0.02em;
	color: inherit;
	transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a.action-link:hover {
	color: var(--ocean);
}

header {
	border-bottom: 1px solid #E7E9FC;
	padding-block: 24px;
}

header .logo {
	margin-right: 76px;
}

header address {
	margin-left: auto;
}

nav .flex, address .flex {
	grid-gap: 40px;
}

nav .current {
	position: relative;
}

nav .current a {
	color: var(--ocean);
}

nav .current:after {
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--ocean);
	left: 0;
	bottom: -25px;
	position: absolute;
}

.container {
	max-width: 1158px;
	margin-inline: auto;
	padding-inline: 15px;
}

.hero {
	padding-block: 176px;
	background-image: url(../images/people-office.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1440px auto;
	position: relative;
}

.hero > * {
	position: relative;
	z-index: 3;
}

.hero:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2E2F42B2;
	left: 0;
	top: 0;
	
}

.section {
	padding-block: 120px;
}

.section-title {
	text-align: center;
	margin-block-end: 72px;
}

.flex {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

[class*="flex-items-"] {
	flex-wrap: wrap;
	row-gap: var(--row-gap);
	column-gap: var(--column-gap);
	flex-grow: 0;
	flex-shrink: 1;
}

.flex-items-1-3 > * {
	width: calc((100% - 2 * var(--column-gap)) / 3);
}

.flex-items-1-4 > * {
	width: calc((100% - 3 * var(--column-gap)) / 4);
}

.logo {
	font-family: var(--secondary-font-family), sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	color: var(--navy-blue);
	line-height: 1.333;
	display: inline-block;
}

.logo span {
	color: var(--iris);
}

.hero {
	text-align: center;
	background-color: var(--navy-blue);
}

.benefits p, .portfolio-card p {
	margin-block-start: 8px;
}

.icon-container {
	background-color: var(--cloud);
	border: 1px solid var(--light-slate);
	text-align: center;
	padding-block: 24px;
	border-radius: 4px;
	margin-block-end: 8px;
}

.node-social-icons {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	grid-gap: 16px;
}

.node-social-icons a {
	display: flex;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 12px;
	background-color: var(--iris);
}

.node-social-icons a:hover, .node-social-icons a:focus {
	background-color: var(--ocean);
}

.team {
	background-color: var(--cloud);
}

.team-card {
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0 0 4px 4px;
}

.team-card div {
	padding: 32px 16px;
}

.team-card h3 {
	line-height: 1.2;
}

.team-card p {
	margin-block-start: 8px;
}

.team-card .node-social-icons {
	justify-content: space-between;
	margin-block-start: 8px;
}

.team-card, .portfolio-card {
	background-color: var(--white);
}

.portfolio {
	--row-gap: 48px;
}

.portfolio-card {
	transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-card .portfolio-card-overlay-container {
	position: relative;
	overflow: hidden;
}
.portfolio-card .portfolio-card-overlay {
	transform: translateY(100%);
	position: absolute;
	top: 0;
	left: 0;
	transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
	color: #fff;
	background-color: var(--iris);
	width: 100%;
	height: 100%;
	padding: 40px 32px 40px 32px;
}

.portfolio-card .portfolio-card-body {
	padding: 32px 16px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #E7E9FC;
}

.portfolio-card:hover {
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-card-overlay {
	transform:translateY(0);
}

.team-card {
	text-align: center;
}

nav a {
	font-weight: 500;
	color: var(--navy-blue);
}

nav a:hover {
	color: var(--ocean);
}

footer {
	background-color: var(--navy-blue);
	color: var(--white);
	padding-block: 100px;
}

footer .logo {
	color: inherit;
}

footer p {
	max-width: 264px;
	margin-block-start: 16px;
}

footer .container > .flex {
	align-items: start;
	grid-gap: 120px;
}

footer .col-2 p {
	margin-block: 0 8px;
}